/* Styles principaux */
body {
    margin: 0;
    font-family: 'Amiri', serif;
    background-color: #121212;
    color: #f8f9fa;
}

header {
    background-color: #0b3d2e;
    color: white;
    text-align: center;
    padding: 0.25rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0f5132;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #58a396;
}

.container {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center; /* Pour centrer les contenus si nécessaire */
}

section {
    margin-bottom: 2rem;
}

.button {
    display: inline-block;
    background-color: #0b3d2e;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 1.5rem auto 0 auto; /* Centre horizontalement */
    text-align: center;
}

.button:hover {
    background-color: #58a396;
}

footer {
    background-color: #0b3d2e;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}

@media (min-width: 768px) { /* Pour les écrans plus larges que 768px (tablettes et ordinateurs) */
  iframe {
    width: 80%;
    height: 450px;
  }

  header h1 {
    margin: 1rem 0;
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
    text-align: center;
    color: #58a396;
    margin-bottom: 1rem;
    }

    p, li {
        font-size: 1.2rem;
        line-height: 1.8;
        text-align: center;
    }

    header img {
        max-width: 200px;
        height: auto;
    }

    nav a {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 767px) {
    /*styles pour les écrans de moins de 768px (tablettes et mobiles)*/
    .container {
        width: 90%;
        margin: 0 auto;
    }
    nav a {
        font-size: 0.25rem 0.5rem;
    }

    iframe {
        width: 100%;
        height: 250px;
    }
    
    header h1 {
        margin: 1rem 0;
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.3rem;
        text-align: center;
        color: #58a396;
        margin-bottom: 1rem;
    }

    p, li {
        font-size: 0.7rem;
        line-height: 1.2;
        text-align: center;
    }

    header img {
        max-width: 120px;
        height: auto;
    }
}



