/* Reset et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amiri', serif;
    background-color: #121212;
    color: #f8f9fa;
    line-height: 1.6;
}

header {
    background-color: #0b3d2e;
    text-align: center;
    padding: 1rem;
}

header img {
    max-width: 80px;
    height: auto;
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 2rem;
}

nav {
    background-color: #0f5132;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

nav a:hover {
    background-color: #58a396;
}

.container {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #58a396;
    margin-bottom: 1rem;
    font-size: 2rem;
}

p, li {
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    background-color: #0b3d2e;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius:
